<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--
	# WP-SpamShield - "/wp-spamshield/" web.config
	# File Version 1.9.7.8
	# Control direct access to certain files.
	-->
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".txt" allowed="false" />
                    <add fileExtension=".mo" allowed="false" />
                    <add fileExtension=".po" allowed="false" />
                    <add fileExtension=".php" allowed="true" />
                    <add fileExtension=".js" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>